body{
   background-color: #F6F6F7;
}

section{
   padding: 30px 0;
}

.category{
   cursor: pointer;
}

.category div{
   border: 1px solid white;
   border-radius: 5px;
   padding: 5px 20px;
}

.category div:hover{
   color: #0d6efd;
   border: 1px solid #0d6efd;
}

.counter {
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #0d6efd;
}

#arrayCounter{
   color: rgb(103, 101, 101);
}

/* spinner */

.loader {
   display: none;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}
 
.loading {
   border: 2px solid #ccc;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border-top-color: #1ecd97;
   border-left-color: #1ecd97;
   animation: spin 1s 5s ease-in;
}
 
@keyframes spin {
   0% {
     transform: rotate(0deg);
   }
 
   100% {
     transform: rotate(360deg);
   }
}